################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSC317_TheaterProject/obj/Debug/net9.0-windows10.0.19041.0/CSC317_TheaterProject.assets.cache
/CSC317_TheaterProject/obj/Debug/net9.0-windows10.0.19041.0/CSC317_TheaterProject.GlobalUsings.g.cs
